.car-sprite {
    width: 40px;
    height: 40px;
    // background-image: url('../../assets/cars.png');
    background-image: url('../../assets/cars.png');
    background-repeat: no-repeat;
    background-size: auto 40px;
}